* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button, input[type="submit"] {
  background: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html, body {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  line-height: 1.6875;
  color: #040522;
  scroll-behavior: smooth;
}

.container {
  max-width: 1176px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
}
.container--no-padding {
  padding: 0;
}

.none {
  display: none;
}

.header {
  padding-top: 40px;
  padding-bottom: 135px;
  background: #81c2d4;
}

.header__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.content__title {
  display: block;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.2;
  color: #171FE5;
}

.title {
  margin-top: 10px;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 61px;
  line-height: 1.2;
  color: #040522;
}

.title-1 {
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.2;
  color: #040522;
  text-align: center;
}

.logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 31px;
  line-height: 36px;
  color: #171FE5;
}

.nav ul {
  display: -webkit-box;
  display: flex;
}
.nav ul li:not(:last-child) {
  margin-right: 40px;
}

.header__menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: #040522;
}

.header__menu-link:hover {
  color: green;
  border-bottom: 2px solid #ff0000;
}

.header__col {
  position: relative;
}

.product-cart {
  position: absolute;
  display: -webkit-box;
  display: flex;
  margin: 2px;
  top: 5px;
  right: 11px;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  cursor: pointer;
}

.product-cart__icon {
  position: absolute;
  display: -webkit-box;
  display: flex;
  top: 0;
  right: -10px;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.product__cart-number {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: -6px;
  left: 2px;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  background: #FD4848;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 8px;
  line-height: 1.4;
  color: #FFFFFF;
  text-align: center;
}

.fa-shopping-cart {
  color: #E56117;
}

.search-form__wrapper {
  display: -webkit-box;
  display: flex;
  max-width: 273px;
}

.search-form {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 69px;
}

.header__search {
  display: block;
  margin: 10px;
  padding-left: 10px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #040522;
  opacity: 0.7;
  margin-right: 20px;
  border-right: 1px solid #e89c24;
}

.form-btn {
  position: absolute;
  z-index: 999;
  content: '';
  display: -webkit-box;
  display: flex;
  margin: 2px;
  top: 5px;
  left: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.content__button {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  height: 54px;
  padding-left: 30px;
  padding-right: 66px;
  background: #FF843F;
  border-radius: 39px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 54px;
  color: #FFFFFF;
  white-space: nowrap;
}
.content__button::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 14px;
  right: 25px;
  width: 26px;
  height: 26px;
  border: 1px solid #FFFFFF;
  background: #FF843F;
  color: #fff;
  background-image: url("../img/buttons/button-header-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-center {
  position: relative;
  padding-top: 40px;
}

.header__text-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  align-content: center;
}

.header__title {
  width: 46%;
  margin-right: 39px;
}

.header__desc {
  width: 62%;
  margin-top: 20px;
}

.desc__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #040522;
  opacity: 0.7;
}

.text-center {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 70px;
}

.product-slider {
  padding-top: 56px;
  padding-bottom: 150px;
}

.top-product-slider {
  padding-top: 120px;
  padding-bottom: 120px;
}

.product-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 362px;
  height: auto;
}

.nav-button {
  position: absolute;
  top: 50%;
  width: 54px;
  height: 54px;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.nav-button-left {
  left: -50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.nav-button-right {
  right: -50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.nav-button .icon-circle {
  fill: #f5f5f5;
}
.nav-button .icon-path {
  stroke: #00c470;
  stroke-width: 2px;
}
.nav-button:hover .icon-circle {
  fill: #00c470;
}
.nav-button:hover .icon-path {
  stroke: #fff;
}

.product__card {
  padding-top: 150px;
  padding-bottom: 120px;
}

.product__card-title {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.card-link {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #E56117;
}

.product__card-photo {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  grid-template-columns: repeat(3, 362px);
  grid-template-rows: repeat(2, 339px);
  grid-template-areas: "photo-1 photo-2 photo-3" "photo-1 photo-2 photo-3" "photo-1 photo-4 photo-5";
  grid-gap: 30px;
  -webkit-box-pack: center;
          justify-content: center;
}

.photo-1 {
  grid-row: 1/2;
}

.photo-4 {
  grid-column: 2/3;
}

.photo-5 {
  grid-column: 3/4;
}

.card {
  display: block;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.card__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.card__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #040522;
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #040522;
  opacity: 0.7;
}

.social-icons {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 25px;
}

.social-icons a {
  margin-right: 15px;
}

.social-icons__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-icons__item:last-child {
  margin-right: 0;
}

.social__item--facebook, .social__item--instagram, .social__item--twitter, .social__item--linkedln {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  fill: #fff;
}

.social__item--instagram, .social__item--twitter, .social__item--linkedln {
  border-radius: 0;
}

.color-fb:hover {
  fill: #0077ff;
}

.color-im:hover {
  fill: #E4405F;
}

.color-tr:hover {
  fill: #00aced;
}

.color-ln:hover {
  fill: #0077B5;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #9714e4;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #7fa5d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #08cc88;
  color: #9714e4;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #7fa5d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #08cc88;
}

/*
 * 	Red theme - Owl Carousel CSS File
 */
.owl-theme-red .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme-red .owl-nav [class*='owl-'] {
  color: #df92c5;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #b85966;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme-red .owl-nav [class*='owl-']:hover {
  background: #d30707;
  color: #df92c5;
  text-decoration: none;
}
.owl-theme-red .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme-red .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme-red .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme-red .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme-red .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #b85966;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme-red .owl-dots .owl-dot.active span, .owl-theme-red .owl-dots .owl-dot:hover span {
  background: #d30707;
}

.section-speciality {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-speciality__header {
  margin-bottom: 70px;
  text-align: center;
}

.section-speciality__title {
  margin-bottom: 20px;
}

.section-speciality__row {
  display: -webkit-box;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.section-speciality__row > * {
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;
  width: 362px;
}

.top-brand {
  padding-top: 120px;
  padding-bottom: 120px;
}

.brand-title {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.brand-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: #E56117;
}

.brand__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.blog {
  padding-top: 120px;
  padding-bottom: 120px;
}

.blog__title {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.blog__row {
  display: -webkit-box;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.blog__card {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}

.blog__img {
  margin-bottom: 25px;
}

.blog__row > * {
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;
  width: 362px;
}

.blog-card__content {
  width: 308px;
  margin-bottom: 20px;
}

.blog-card__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #040522;
}

.blog-card__desc {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.blog-card__desc span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #040522;
}

.blog-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #E56117;
}

.blog-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #040522;
  opacity: 0.7;
}

.text-right {
  width: 386px;
}

.footer {
  margin-top: auto;
  /* sticky footer */
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #040522;
  color: #fff;
}

.footer__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-info {
  max-width: 261px;
}

.footer__logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.footer-desc {
  display: block;
  margin-top: 25px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  opacity: 0.7;
}

.footer__nav {
  display: -webkit-box;
  display: flex;
  -webkit-column-gap: 160px;
          column-gap: 160px;
  width: 727px;
}

.footer__nav-link {
  max-width: 113px;
}

.footer__nav-support {
  max-width: 103px;
}

.footer__nav-contacts {
  max-width: 193px;
}

.footer__nav-title {
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: #FFFFFF;
}

.footer__nav-items {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
  opacity: 0.7;
}
.footer__nav-items li {
  margin-bottom: 15px;
}
.footer__nav-items a:hover {
  border-bottom: 1px solid #a6caf0;
}

.footer__nav-contacts ul {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
  color: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */