* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button, input[type="submit"] {
  background: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html, body {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  line-height: 1.6875;
  color: #040522;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 1176px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Desktop */
  /* Laptop */
  /* Tablet */
  /* Mobile XS */
  /* Mobile */
}
.container--fluid {
  max-width: unset;
  width: 100%;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1199px) {
  .container {
    max-width: 1075px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 920px;
  }
}
@media (max-width: 779px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 710px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 520px;
  }
}
@media (max-width: 320px) {
  .container {
    width: 290px;
  }
}

.none {
  display: none;
}

.header {
  padding-top: 40px;
  padding-bottom: 135px;
  background: #81c2d4;
  /* Desktop */
}
@media (max-width: 1199px) {
  .header {
    padding-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Mobile */
}
@media (max-width: 320px) {
  .header__row {
    justify-content: center;
  }
}

@media (max-width: 779px) {
  .header__img {
    width: 31px;
  }
}

.content__title {
  display: block;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.2;
  color: #171FE5;
  /* Laptop */
}
@media (max-width: 991px) {
  .content__title {
    font-size: 18px;
  }
}
@media (max-width: 779px) {
  .content__title {
    font-size: 16px;
  }
}

.title {
  margin-top: 10px;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 61px;
  line-height: 1.2;
  color: #040522;
  /* desktop */
  /* Laptop */
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .title {
    font-size: 56px;
  }
}
@media (max-width: 991px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 17px;
  }
}

.title-1 {
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.2;
  color: #040522;
  text-align: center;
  /* Tablet */
  /* Laptop */
  /* Mobile XS */
  /* Mobile */
}
@media (max-width: 1199px) {
  .title-1 {
    font-size: 35px;
  }
}
@media (max-width: 991px) {
  .title-1 {
    font-size: 30px;
  }
}
@media (max-width: 779px) {
  .title-1 {
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  .title-1 {
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .title-1 {
    font-size: 20px;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 31px;
  line-height: 36px;
  color: #171FE5;
}
@media (max-width: 779px) {
  .logo {
    font-size: 26px;
    line-height: 26px;
  }
}

.nav ul {
  display: flex;
  /* Tablet */
}
.nav ul li:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 769px) {
  .nav ul {
    display: none;
  }
}

.header__menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: #040522;
  transition: all 0.5s ease-in;
}

.header__menu-link:hover {
  color: green;
  border-bottom: 2px solid #ff0000;
}

.header__col {
  position: relative;
  /* Mobile */
}
@media (max-width: 320px) {
  .header__col {
    display: none;
  }
}

.product-cart {
  position: absolute;
  display: flex;
  margin: 2px;
  top: 5px;
  right: 34px;
  transform: translate(50%, 50%);
  cursor: pointer;
  /* Laptop */
}
@media (max-width: 991px) {
  .product-cart {
    right: 25px;
  }
}

.product-cart__icon {
  position: absolute;
  display: flex;
  top: 0;
  right: -10px;
  transform: translate(50%, 50%);
  /* Desktop */
  /* Laptop */
}
@media (max-width: 1199px) {
  .product-cart__icon {
    right: -6px;
  }
}
@media (max-width: 991px) {
  .product-cart__icon {
    right: 0px;
  }
}

.product__cart-number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: -6px;
  left: 2px;
  transform: translate(50%, 50%);
  background: #FD4848;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 8px;
  line-height: 1.4;
  color: #FFFFFF;
  text-align: center;
  /* Laptop */
}
@media (max-width: 991px) {
  .product__cart-number {
    left: -6px;
  }
}

.fa-shopping-cart {
  color: #E56117;
}

.search-form__wrapper {
  max-width: 273px;
  display: flex;
  justify-content: flex-end;
}

.search-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 69px;
  /* Laptop */
  /* Tablet */
}
.search-form::after {
  content: '';
  position: absolute;
  right: 48px;
  top: 7px;
  bottom: 6px;
  width: 1px;
  background: #e89c24;
}
@media (max-width: 991px) {
  .search-form {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 769px) {
  .search-form {
    max-width: 245px;
  }
}

.header__search {
  display: block;
  margin: 10px;
  padding-left: 10px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #040522;
  opacity: 0.7;
  margin-right: 20px;
}

.form-btn {
  position: absolute;
  z-index: 999;
  content: '';
  display: flex;
  margin: 2px;
  top: 5px;
  left: 0;
  transform: translate(50%, 50%);
}

.content__button {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  height: 54px;
  padding-left: 30px;
  padding-right: 66px;
  background: #FF843F;
  border-radius: 39px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 54px;
  color: #FFFFFF;
  white-space: nowrap;
  /* Tablet */
  /* Mobile */
}
.content__button::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 14px;
  right: 25px;
  width: 26px;
  height: 26px;
  border: 1px solid #FFFFFF;
  background: #FF843F;
  color: #fff;
  background-image: url("../img/buttons/button-header-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 768px) {
  .content__button::before {
    top: 8px;
  }
}
@media (max-width: 320px) {
  .content__button::before {
    top: 4px;
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 768px) {
  .content__button {
    height: 44px;
    line-height: 44px;
  }
}
@media (max-width: 575px) {
  .content__button {
    margin-top: 20px;
  }
}
@media (max-width: 320px) {
  .content__button {
    margin-top: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 50px 0 40px;
  }
}

.backtop-btn {
  display: inline-block;
  position: fixed;
  width: 50px;
  height: 50px;
  background: #81c2d4;
  border-radius: 50%;
  z-index: 1000;
  right: 6px;
  bottom: 12px;
  /* Mobile XS */
}
@media (max-width: 320px) {
  .backtop-btn {
    right: 0px;
    bottom: 65px;
  }
}

.backtop-btn--up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  stroke: #F6F6F6;
  stroke-width: 2;
  transform: translate(100%, 85%);
}

.header-center {
  position: relative;
  padding-top: 40px;
  /* Mobile */
}
@media (max-width: 575px) {
  .header-center {
    padding-top: 25px;
  }
}
@media (max-width: 320px) {
  .header-center {
    padding-top: 25px;
  }
}

.header__text-content {
  width: 1237px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* Desktop */
  /* Laptop */
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__text-content {
    width: 1100px;
  }
}
@media (max-width: 991px) {
  .header__text-content {
    width: 940px;
  }
}
@media (max-width: 779px) {
  .header__text-content {
    width: 735px;
  }
}
@media (max-width: 767px) {
  .header__text-content {
    width: 725px;
  }
}
@media (max-width: 575px) {
  .header__text-content {
    width: 536px;
  }
}
@media (max-width: 320px) {
  .header__text-content {
    flex-direction: column;
    width: 216px;
  }
}

.header__title {
  width: 43%;
  margin-right: 39px;
  /* Mobile */
}
@media (max-width: 779px) {
  .header__title {
    width: 38%;
  }
}
@media (max-width: 575px) {
  .header__title {
    width: 83%;
  }
}
@media (max-width: 320px) {
  .header__title {
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
  }
}

.header__desc {
  width: 100%;
  margin-top: 20px;
}

.desc__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #040522;
  opacity: 0.7;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 991px) {
  .desc__title {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .desc__title {
    font-size: 11px;
  }
}

.text-center {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 70px;
  /* Mobile XS*/
}
@media (max-width: 779px) {
  .text-center {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  .text-center {
    margin-bottom: 20px;
  }
}

@media (max-width: 779px) {
  .header__content-img {
    width: 320px;
  }
}

.product-slider {
  padding-top: 56px;
  padding-bottom: 150px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .product-slider {
    padding-bottom: 56px;
  }
}

.top-product-slider {
  padding-top: 120px;
  padding-bottom: 120px;
  /* Tablet */
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .top-product-slider {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .top-product-slider {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 320px) {
  .top-product-slider {
    padding-top: 0;
  }
}

.product-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  /* Mobile */
}
@media (max-width: 320px) {
  .product-wrapper {
    width: 190px;
  }
  .product-wrapper .top-product-text {
    font-size: 25px;
  }
}

.nav-button {
  position: absolute;
  top: 50%;
  width: 54px;
  height: 54px;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.nav-button-left {
  left: -1%;
  transform: translate(-100%, -50%);
}
@media (max-width: 779px) {
  .nav-button-left {
    display: none;
  }
}

.nav-button-right {
  right: -1%;
  transform: translate(100%, -50%);
}
@media (max-width: 779px) {
  .nav-button-right {
    display: none;
  }
}

.nav-button .icon-circle {
  fill: #f5f5f5;
}
.nav-button .icon-path {
  stroke: #00c470;
  stroke-width: 2px;
}
.nav-button:hover .icon-circle {
  fill: #00c470;
}
.nav-button:hover .icon-path {
  stroke: #fff;
}

#product-carousel .owl-item {
  transform: translate .3s linear;
}
#product-carousel .owl-item.center {
  transform: scale(1.2);
  z-index: 10;
}
#product-carousel .owl-stage-outer {
  padding: 30px 0;
}

#product-carousel-1 .owl-item {
  transform: translate .3s linear;
}
#product-carousel-1 .owl-item.center {
  transform: scale(1.2);
  z-index: 10;
}
#product-carousel-1 .owl-stage-outer {
  padding: 30px 0;
}

.product__card {
  padding-top: 150px;
  padding-bottom: 120px;
  /* Tablet */
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .product__card {
    padding-top: 0px;
  }
}
@media (max-width: 768px) {
  .product__card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .product__card {
    padding-top: 0;
  }
}

.product__card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Mobile */
}
@media (max-width: 320px) {
  .product__card-title {
    flex-direction: column;
  }
}

.product__card-photo {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  grid-template-columns: repeat(3, 362px);
  grid-template-rows: repeat(2, 339px);
  grid-template-areas: "photo-1 photo-2 photo-3" "photo-1 photo-2 photo-3" "photo-1 photo-4 photo-5";
  grid-gap: 30px;
  justify-content: center;
  /* Desktop */
  /* Tablet */
  /* Mobile XS */
  /* Mobile */
}
@media (max-width: 1199px) {
  .product__card-photo {
    padding-top: 35px;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 229px);
  }
}
@media (max-width: 779px) {
  .product__card-photo {
    padding-top: 30px;
    grid-template-columns: repeat(3, 216px);
    grid-template-rows: repeat(2, 202px);
    grid-gap: 19px;
  }
}
@media (max-width: 768px) {
  .product__card-photo {
    grid-template-columns: repeat(3, 214px);
    grid-template-rows: repeat(2, 200px);
  }
}
@media (max-width: 575px) {
  .product__card-photo {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 139px);
    grid-gap: 15px;
  }
}
@media (max-width: 320px) {
  .product__card-photo {
    grid-template-columns: repeat(3, 76px);
    grid-template-rows: repeat(2, 67px);
  }
}

.photo-1 {
  grid-row: 1/2;
}

.photo-4 {
  grid-column: 2/3;
}

.photo-5 {
  grid-column: 3/4;
}

.card {
  display: block;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 779px) {
  .card {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.card__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.card__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #040522;
  /* Desktop */
  /* Laptop */
  /* Mobile */
}
@media (max-width: 1199px) {
  .card__title {
    font-size: 21px;
  }
}
@media (max-width: 991px) {
  .card__title {
    font-size: 17px;
  }
}
@media (max-width: 779px) {
  .card__title {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .card__title {
    font-size: 18px;
  }
}

.card-link {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #E56117;
  /* Tablet */
  /* Laptop */
}
@media (max-width: 1199px) {
  .card-link {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .card-link {
    font-size: 16px;
  }
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #040522;
  opacity: 0.7;
  /* Desktop */
  /* Laptop */
}
@media (max-width: 1199px) {
  .card__text {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .card__text {
    font-size: 12px;
  }
}
@media (max-width: 779px) {
  .card__text {
    font-size: 12px;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.social-icons a {
  margin-right: 15px;
}

.social-icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-icons__item:last-child {
  margin-right: 0;
}

.social__item--facebook, .social__item--instagram, .social__item--twitter, .social__item--linkedln {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  fill: #fff;
}

.social__item--instagram, .social__item--twitter, .social__item--linkedln {
  border-radius: 0;
}

.color-fb:hover {
  fill: #0077ff;
}

.color-im:hover {
  fill: #E4405F;
}

.color-tr:hover {
  fill: #00aced;
}

.color-ln:hover {
  fill: #0077B5;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #9714e4;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #7fa5d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #08cc88;
  color: #9714e4;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #7fa5d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #08cc88;
}

/*
 * 	Red theme - Owl Carousel CSS File
 */
.owl-theme-red .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme-red .owl-nav [class*='owl-'] {
  color: #df92c5;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #b85966;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme-red .owl-nav [class*='owl-']:hover {
  background: #d30707;
  color: #df92c5;
  text-decoration: none;
}
.owl-theme-red .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme-red .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme-red .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme-red .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme-red .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #b85966;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme-red .owl-dots .owl-dot.active span, .owl-theme-red .owl-dots .owl-dot:hover span {
  background: #d30707;
}

.section-speciality {
  padding-top: 120px;
  padding-bottom: 120px;
  /* Desktop */
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-speciality {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .section-speciality {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 320px) {
  .section-speciality {
    padding-top: 0;
  }
}

.section-speciality__header {
  margin-bottom: 70px;
  text-align: center;
  /* Tablet */
}
@media (max-width: 779px) {
  .section-speciality__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .section-speciality__header {
    margin-bottom: 30px;
  }
}

.section-speciality__title {
  margin-bottom: 20px;
}

.section-speciality__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
  /* Tablet */
}
@media (max-width: 768px) {
  .section-speciality__row {
    flex-direction: column;
    justify-content: center;
    grid-gap: 20px;
    align-items: center;
  }
}

.section-speciality__row > * {
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 1;
  width: 362px;
  /* Laptop */
  /* Mobile XS */
  /* Mobile */
}
@media (max-width: 991px) {
  .section-speciality__row > * {
    width: 300px;
  }
}
@media (max-width: 779px) {
  .section-speciality__row > * {
    width: 220px;
    flex-shrink: 0;
  }
}
@media (max-width: 575px) {
  .section-speciality__row > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .section-speciality__row > * {
    width: 265px;
  }
  .section-speciality__row > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.top-brand {
  padding-top: 120px;
  padding-bottom: 120px;
  /* Tablet */
  /* Tablet */
}
@media (max-width: 1199px) {
  .top-brand {
    padding-top: 0;
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .top-brand {
    padding-top: 0px;
    padding-bottom: 40px;
  }
}

.brand-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .brand-title {
    margin-bottom: 40px;
  }
}
@media (max-width: 320px) {
  .brand-title {
    flex-direction: column;
    margin-bottom: 25px;
  }
}

.brand-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: #E56117;
}
@media (max-width: 779px) {
  .brand-link {
    font-size: 16px;
  }
}

.brand__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Tablet */
}
@media (max-width: 768px) {
  .brand__row {
    flex-direction: column;
    justify-content: center;
  }
}

.brand-img {
  width: 200px;
}
@media (max-width: 779px) {
  .brand-img {
    width: 160px;
    margin-bottom: 25px;
  }
}

.blog {
  padding-top: 120px;
  padding-bottom: 120px;
  /* Tablet */
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .blog {
    padding-top: 0;
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .blog {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 320px) {
  .blog {
    padding-top: 0;
  }
}

.blog__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  /* Tablet */
  /* Mobile XS */
  /* Mobile */
}
@media (max-width: 1199px) {
  .blog__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .blog__title {
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .blog__title {
    margin-bottom: 20px;
  }
}

.blog__row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  /* Laptop */
  /* Tablet */
}
@media (max-width: 991px) {
  .blog__row {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .blog__row {
    flex-direction: column;
    grid-gap: 30px;
  }
}

.blog__card {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .blog__card {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.blog__img {
  margin-bottom: 25px;
}

.blog__row > * {
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;
  width: 362px;
  /* Desktop */
  /* Laptop */
  /* Mobile */
}
@media (max-width: 1199px) {
  .blog__row > * {
    width: 313px;
  }
}
@media (max-width: 991px) {
  .blog__row > * {
    width: 280px;
  }
}
@media (max-width: 779px) {
  .blog__row > * {
    width: 210px;
  }
}
@media (max-width: 320px) {
  .blog__row > * {
    width: 275px;
  }
}

.blog-card__content {
  width: 308px;
  margin-bottom: 20px;
  /* Laptop */
  /* Mobile */
}
@media (max-width: 991px) {
  .blog-card__content {
    width: 263px;
  }
}
@media (max-width: 779px) {
  .blog-card__content {
    max-width: 200px;
  }
}
@media (max-width: 320px) {
  .blog-card__content {
    width: 100%;
  }
}

.blog-card__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #040522;
  /* Tablet */
}
@media (max-width: 1199px) {
  .blog-card__title {
    font-size: 18px;
  }
}

.blog-card__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-card__desc span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #040522;
  /* Tablet */
}
@media (max-width: 1199px) {
  .blog-card__desc span {
    font-size: 14px;
  }
}

.blog-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #E56117;
  /* Tablet */
}
@media (max-width: 1199px) {
  .blog-link {
    font-size: 14px;
  }
}

.blog-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #040522;
  opacity: 0.7;
  /* Tablet */
}
@media (max-width: 1199px) {
  .blog-card__text {
    font-size: 14px;
  }
}

.text-right {
  width: 386px;
  /* Mobile XS */
  /* Mobile */
}
@media (max-width: 575px) {
  .text-right {
    text-align: center;
    align-items: center;
    width: 326px;
  }
}
@media (max-width: 320px) {
  .text-right {
    width: 275px;
  }
}

.footer {
  margin-top: auto;
  /* sticky footer */
  padding: 70px 0;
  background-color: #040522;
  color: #fff;
  /* Tablet */
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  /* Desktop */
  /* Laptop */
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer__row {
    max-width: 1133px;
  }
}
@media (max-width: 991px) {
  .footer__row {
    max-width: 895px;
    padding: 0;
  }
}
@media (max-width: 779px) {
  .footer__row {
    max-width: 735px;
  }
}
@media (max-width: 768px) {
  .footer__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 425px) {
  .footer__row {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.footer-info {
  max-width: 261px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 779px) {
  .footer-info {
    width: 39%;
  }
}
@media (max-width: 768px) {
  .footer-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 15px 0;
    row-gap: 20px;
  }
}
@media (max-width: 320px) {
  .footer-info {
    width: 100%;
  }
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-desc {
  display: block;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  opacity: 0.7;
  /* Tablet */
}
@media (max-width: 768px) {
  .footer-desc {
    width: 93%;
  }
}

.footer__nav {
  display: flex;
  column-gap: 160px;
  width: 727px;
  /* Desktop */
  /* Laptop */
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .footer__nav {
    column-gap: 122px;
    width: 642px;
  }
}
@media (max-width: 991px) {
  .footer__nav {
    width: 598px;
    column-gap: 100px;
  }
}
@media (max-width: 779px) {
  .footer__nav {
    width: 64%;
    column-gap: 40px;
  }
}
@media (max-width: 768px) {
  .footer__nav {
    width: 685px;
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .footer__nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
  }
}

.footer__nav-link {
  max-width: 113px;
}

.footer__nav-support {
  max-width: 103px;
  /* Tablet */
}
@media (max-width: 768px) {
  .footer__nav-support {
    width: 115px;
  }
}

.footer__nav-title {
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: #FFFFFF;
  transition: all 0.5s ease-in;
}
.footer__nav-title:hover {
  color: orangered;
  border-bottom: 1px solid #a6caf0;
}
@media (max-width: 779px) {
  .footer__nav-title {
    font-size: 17px;
  }
}

.footer__nav-items {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
  opacity: 0.7;
  transition: all 0.5s ease-in;
}
.footer__nav-items li {
  margin-bottom: 15px;
}
.footer__nav-items a:hover {
  transition: all 0.5s ease-in;
  color: orangered;
  border-bottom: 1px solid #a6caf0;
}
@media (max-width: 779px) {
  .footer__nav-items {
    font-size: 14px;
  }
}

.footer__nav-contacts ul {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
  color: #FFFFFF;
  /* Tablet */
}
@media (max-width: 779px) {
  .footer__nav-contacts ul {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .footer__nav-contacts ul {
    width: 180px;
  }
}

/*# sourceMappingURL=main.css.map */
