html, body {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    line-height: 1.6875;
    color: $black-color;
    scroll-behavior: smooth;
    overflow-x: hidden
}

.container {
    max-width: 1192px;
    margin-left: auto;
	margin-right: auto;
    padding: 0 15px;

    &--fluid {
        max-width: unset;
        width: 100%;
    }

    &--no-padding {
        padding: 0;
    }

    /* Desktop */
    @media (max-width: 1024px) {
        padding: 0 35px;
    }

    /* Tablet */
    @media (max-width: 768px) {
        padding: 0 30px;
    }

}

.none {
    display: none;
}