html, body {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    line-height: 1.6875;
    color: $black-color;
    scroll-behavior: smooth;
    overflow-x: hidden
}

.container {
    max-width: 1176px;
    margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;


    &--fluid {
        max-width: unset;
        width: 100%;
    }

    &--no-padding {
        padding: 0;
    }

    /* Desktop */
    @media (max-width: 1199px) {
        max-width: 1075px;
    }

    /* Laptop */
    @media (max-width: 991px) {
        max-width: 940px;
    }

    /* Tablet */
    @media (max-width: 767px) {
        max-width: 710px;
    }

    /* Mobile XS */
    @media (max-width: 575px) {
        max-width: 520px;
    }

    /* Mobile */
    @media (max-width: 320px) {
        width: 290px;
    }
}


.none {
    display: none;
}