.blog {
    padding-bottom: 120px;

    /* Tablet */
    @media (max-width: 768px) {
        padding-bottom: 60px;
    }

    /* Mobile XS */
    @media (max-width: 425px) {
        padding-bottom: 20px;
    }
}

.blog__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;

    /* Mobile XS */
    @media (max-width: 425px) {
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 30px;
    }

    /* Mobile */
    @media (max-width: 320px) {
        margin-bottom: 20px;
    }
}

.blog__row {
    display: grid;
    gap: 37px;
    grid-template-columns: repeat(auto-fit, minmax(362px, 0.1fr));
    justify-content: space-around;

    /* Desktop */
    @media (max-width: 1024px) {
        grid-template-columns: repeat(auto-fit, minmax(298px, 0.1fr));
    }

    /* Tablet */
    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

.blog__card {
    display: block;
    padding: 0 30px;
    min-height: 502px;

    /* Desktop */
    @media (max-width: 1024px) {
        min-height: 412px;
    }

    /* Mobile XS */
    @media (max-width: 425px) {
        min-height: 409px;
    }

    /* Mobile */
    @media (max-width: 320px) {
        min-height: 326px;
    }
}

.blog__img {
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

.blog__row > * {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width:768px) {
        text-align: center;
        align-items: center;
        flex-shrink: 0;
    }
}

.blog-card__content {
    width: 308px;
    margin-bottom: 20px;

    /* Desktop */
    @media (max-width: 1024px) {
        width: 304px;
    }

    @media (max-width:768px) {
        width: 260px;
    }

    /* Mobile XS */
    @media (max-width: 425px) {
        width: 264px;
    }
}

.blog-card__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
    color: $black-color;

    /* Tablet */
    @media (max-width: 768px) {
        font-size: 18px;
    }
}

.blog-card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: $black-color;
    opacity: 0.7;

    /* Tablet */
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.blog-card__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        color: $black-color;

        /* Tablet */
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    /* Tablet */
    @media (max-width: 768px) {
        column-gap: 30px;
        width: 160px;
    }
}

.blog-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #E56117;

    /* Tablet */
    @media (max-width: 768px) {
        font-size: 12px;
    }

    &:hover {
        color: #81c2d4;
    }
}

.text-right {
    width: 386px;

    /* Desktop */
    @media (max-width: 1024px) {
        width: 356px;
    }

    /* Mobile XS */
    @media (max-width: 425px) {
        text-align: center;
        align-items: center;
        width: 318px;
    }

    /* Mobile */
    @media (max-width: 320px) {
        width: 275px;
    }
}