.section-speciality {
    padding-bottom: 120px;

    /* Tablet */
    @media (max-width: 768px) {
        padding-bottom: 70px;
    }

    /* Mobile XS */
    @media (max-width: 425px) {
        padding-bottom: 20px;
    }
}

.section-speciality__header {
    margin-bottom: 70px;

    /* Tablet */
    @media (max-width: 768px) {
       margin-bottom: 30px; 
    }
}

.section-speciality__title {
    margin-bottom: 20px;
}

.section-speciality__text {
    text-align: center;

    /* Tablet */
    @media (max-width: 768px) {
        width: 59%;
        margin: 0 auto;
    }

    /* Mobile XS */
    @media (max-width: 425px) {
        width: 100%;
    }
}

.section-speciality__row {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(362px, 0.1fr));
    justify-content: space-around;
  
    /* Desktop */
    @media (max-width: 1024px) {
        grid-template-columns: repeat(auto-fit, minmax(298px, 1fr)); 
    }

    /* Tablet */
    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.section-speciality__row > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}