.top-brand {
	padding-bottom: 120px;
	background-color: #f8fcfd;

	/* Tablet */
	@media (max-width: 768px) {
		padding-bottom: 40px;
	}

	/* Mobile XS */
	@media (max-width: 425px) {
		padding-bottom: 20px;
	}
}

.brand-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 70px 0;

	/* Mobile */
	@media (max-width: 320px) {
		padding: 0 0 25px 0;
	}
}

.brand-mb {
	margin-bottom: 0;
}

.brand-link {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.16;
	color: #e56117;
	transition: all 0.3s ease-in-out;

	@media (max-width: 779px) {
		font-size: 16px;
	}

	&:hover {
		color: #81c2d4;
	}
}

.brand__row {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));

	/* Tablet */
	@media (max-width: 768px) {
		grid-template-columns: 1fr auto;
	}
}

.brand-img {
	width: 200px;
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: scale(1.2);
	}
}
