.card {
    display: block;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
.card__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.card__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
    color: $black-color;
}

.card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: $black-color;
    opacity: 0.7;
}