.header-center {
    position: relative;
    padding-top: 40px;

    @media (max-width: 575px) {
        padding-top: 25px;
    }

    /* Mobile */
    @media (max-width: 320px) {
        padding-top: 25px;
    }
}

.header__text-content {
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;

    

    /* Desktop */
    @media (max-width: 1199px) {
        flex-direction: column-reverse;
        width: 760px;
        margin: 0 auto;
    }

    /* Tablet */
    @media (max-width: 767px) {
        width: 700px;
    }

    @media (max-width: 575px) {
        width: 536px;
    }

    /* Mobile */
    @media (max-width: 320px) {
        width: 290px;
    }
}

.header__title {
    width: 42%;
    margin-right: 39px;

     /* Desktop */
    @media (max-width: 1199px) {
        width: 70%;
        margin-top: 30px;
        margin-right: 0;
        text-align: center;
    }

    @media (max-width: 575px) {
        width: 83%;
    }

    /* Mobile */
    @media (max-width: 320px) {
        width: 82%;
    }
}

.header__desc {
    width: 100%;
    margin-top: 20px;
}

.desc__title {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: $black-color;
    opacity: 0.7;

    /* Tablet */
    @media (max-width: 768px) {
        font-size: 13px;
    }

    /* Mobile */
    @media (max-width: 320px) {
        font-size: 11px;
    }
}

.text-center {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 70px;

    /* Mobile XS*/
    @media (max-width: 575px) {
        margin-bottom: 20px; 
    }
}