.header {
    padding-top: 40px;
    padding-bottom: 70px;
    background: #81c2d4;

    @media (max-width: 425px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;

    /* Mobile XS*/
    @media (max-width: 425px) {
        flex-direction: column;
        row-gap: 20px;
    }

    /* Mobile */
    @media (max-width: 320px) {
        justify-content: center;
        padding-bottom: 20px;
    }
}