.nav ul {
     
    display: flex;
    
    li:not(:last-child) {
		margin-right: 40px;

        /* Tablet */
        @media (max-width: 768px) {
            margin-right: 20px;
        }
	}

    /* Mobile XS*/
    @media (max-width: 575px) {
        display: none;
    }
}

.header__menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    color: #040522;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #fff;
        border-bottom: 2px solid #ff0000;
    }
}