.product__card {
    padding-bottom: 120px;

    /* Tablet */
    @media (max-width: 768px) {
        padding-bottom: 70px;
    }

    /* Mobile XS */
    @media (max-width: 425px) {
        padding-bottom: 20px;
    }
}

.product__card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;

    /* Tablet */
    @media (max-width: 768px) {
        padding-bottom: 40px;
    }
}

.product__card-text--mb {
    margin-bottom: 0;
}

.product__card-photo {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 362px);
    grid-template-rows: repeat(2,339px);
    grid-template-areas: 
    "photo-1 photo-2 photo-3"
    "photo-1 photo-2 photo-3"
    "photo-1 photo-4 photo-5";
    grid-gap: 30px;
    justify-content: center;
    transition: all .3s ease-in;

    /* Desktop */
    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 298px);
        grid-template-rows: repeat(2, 276px);
    }

    /* Tablet */
    @media (max-width: 768px) {
        grid-template-columns: repeat(3, 222px);
        grid-template-rows: repeat(2, 207px);
        grid-gap: 20px;
    }

    /* Mobile XS */
    @media (max-width: 425px) {
        grid-template-columns: repeat(3, 114px);
        grid-template-rows: repeat(2, 106px);
        grid-gap: 11px;
    }

    @media (max-width: 412px) {
        grid-template-columns: repeat(3, 110px);
        grid-template-rows: repeat(2, 102px);
    }

    /* Mobile */
    @media (max-width: 320px) {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(2, 73px);
        grid-gap: 10px;
    }

    img:hover {
        transform: scale(1.2);
    }
}

.product__card-photo > * {
	transition: all 0.3s ease-in;
}

.photo-1 {
    // grid-area: "photo-1";
    grid-row: 1/2;
}

.photo-4 {
    grid-column: 2/3;
}

.photo-5 {
    grid-column: 3/4;
}