.product__card {
    padding-bottom: 120px;

    /* Tablet */
    @media (max-width: 768px) {
        padding-bottom: 70px;
    }

    /* Mobile */
    @media (max-width: 320px) {
       padding-top: 0; 
    }
    
}

.product__card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;

    /* Tablet */
    @media (max-width: 768px) {
        padding-bottom: 40px;
    }

    /* Mobile */
    @media (max-width: 320px) {
        flex-direction: column;
    }
}

.product__card-text--mb {
    margin-bottom: 0;
}

.product__card-photo {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 362px);
    grid-template-rows: repeat(2,339px);
    grid-template-areas: 
    "photo-1 photo-2 photo-3"
    "photo-1 photo-2 photo-3"
    "photo-1 photo-4 photo-5";
    grid-gap: 30px;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    /* Desktop */
    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 298px);
        grid-template-rows: repeat(2, 276px);
    }

    /* Tablet */
    @media (max-width: 768px) {
        grid-template-columns: repeat(3, 222px);
        grid-template-rows: repeat(2, 207px);
        grid-gap: 20px;
    }

    /* Mobile XS */
    @media (max-width: 575px) {
        grid-template-columns: repeat(3, 147px);
        grid-template-rows: repeat(2, 136px);
        grid-gap: 15px;
    }

    // @media (max-width: 475px) {
    //     grid-template-columns: repeat(3, 120px);
    //     grid-template-rows: repeat(2, 112px);
    //     grid-gap: 10px;
    // }

    /* Mobile */
    @media (max-width: 320px) {
        grid-template-columns: repeat(3, 76px);
        grid-template-rows: repeat(2, 67px);  
    }

    img:hover {
        transform: scale(1.2);
    }
}

.photo-1 {
    // grid-area: "photo-1";
    grid-row: 1/2;
}

// .photo-2 {
//     grid-area: "photo-2";
// }
// .photo-3 {
//     grid-area: "photo-3";
// }

.photo-4 {
    // grid-area: "photo-4";
    grid-column: 2/3;
}

.photo-5 {
    // grid-area: "photo-5";
    grid-column: 3/4;
}