.search-form__wrapper {
    display: flex;
    max-width: 273px;
}

.search-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;

    background: #FFFFFF;

    border: 1px solid #000000;
    border-radius: 69px;

}


.header__search {
    display: block;
    margin: 10px;
    padding-left: 10px;

    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #040522;
    opacity: 0.7;

    border-right: 1px solid #e89c24;
}

.form-btn {
    position: absolute;
    z-index: 999;
    content: '';
    display: flex;
    margin: 2px;
    top: 5px;
    left: 0;
    transform: translate(50%,50%);
}
