.content__title {
    display: block;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.2;

    color: #171FE5;
}

.title {
    margin-top: 10px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 61px;
    line-height: 1.2;
    color: $black-color;

    /* desktop */
    @media (max-width: 1199px) {
        font-size: 56px;
    }

    /* Laptop */
    @media (max-width: 991px) {
        font-size: 35px;
    }

    /* Tablet */
    @media (max-width: 768px) {
        font-size: 30px;
    }

    /* Mobile */
    @media (max-width: 320px) {
        font-size: 17px;
    }
}

.title-1 {
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 1.2;
    color: $black-color;
    text-align: center;

    /* Tablet */
    @media (max-width: 1199px) {
        font-size: 35px;
    }

    /* Tablet */
    @media (max-width: 768px) {
        font-size: 30px;
    }

    /* Mobile XS */
    @media (max-width: 575px) {
        margin-bottom: 15px;
    }

    /* Mobile */
    @media (max-width: 320px) {
        font-size: 20px
    }
}