.content__title {
    display: block;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.2;

    color: #171FE5;
}

.title {
    margin-top: 10px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 61px;
    line-height: 1.2;
    color: $black-color;
}

.title-1 {
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 1.2;
    color: $black-color;
    text-align: center;
}