.content__title {
    display: block;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.2;

    color: #171FE5;
    
    /* Laptop */
    @media (max-width: 1024px) {
        font-size: 18px;
    }

    @media (max-width:767px) {
        font-size: 16px;
    }

    /* Mobile XS*/
    @media (max-width: 575px) {
        font-size: 14px;
    }
}

.title {
    margin-top: 10px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 61px;
    line-height: 1.2;
    color: $black-color;

    /* desktop */
    @media (max-width: 1024px) {
        font-size: 41px;
    }

    /* Tablet */
    @media (max-width: 768px) {
        font-size: 30px;
    }

    // /* Mobile XS*/
    // @media (max-width: 575px) {
    //     font-size: 18px;
    // }

    /* Mobile */
    @media (max-width: 320px) {
        font-size: 17px;
    }
}

.title-1 {
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 1.2;
    color: $black-color;
    text-align: center;

    /* Tablet */
    @media (max-width: 1024px) {
        font-size: 35px;
    }

    @media (max-width:768px) {
        font-size: 25px;
    }

    // /* Mobile XS */
    // @media (max-width: 575px) {
    //     margin-bottom: 15px;
    // }

    /* Mobile */
    @media (max-width: 320px) {
        font-size: 20px
    }
}